* {
    margin: 0 auto;
}

.header {
    display: block;
    width: 100%;
    background-color:black;
    padding: 2%;
}

.body{
    background-color: #1B2432;
}

.content{
	margin-left: auto;
	margin-right: auto;
    margin-bottom: 2%;
}
    .content form{
        font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
        font-size: 18px;
        text-align: center;
        margin-top: 1%;
        display: block;
        width: 800px;
        height: 900px;
        background-color:ghostwhite;
        max-width: 70%;

        border-radius: 20px;
    }
        .content form #btnSbm{
            float: right;
            margin-right: 30%;
            font-size: 14px;
        }

.footer{
    display: block;
    width: 100%;
    background-color:black;
    padding: 2%;
}